@model IEnumerable<ActivityTracker.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Who I Follow</h1>
<ul>
    @foreach (var teacher in Model)
    {
        <li>@teacher.Name</li>
    }
</ul>